<%= render "shared/header" %>
<div class="container">
  <h1 class=form-title>Edit <%= resource_name.to_s.humanize %></h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="field">
      <%= f.label :nameLast, "Last Name" %><br />
      <%= f.text_field :nameLast, autocomplete: "nameLast", class: "form-input" %>
    </div>
    <div class="field">
      <%= f.label :nameFirst, "First Name" %><br />
      <%= f.text_field :nameFirst, autocomplete: "nameFirst", class: "form-input" %>
    </div>
    <div class="field">
      <%= f.label :username, "Username" %><br />
      <%= f.text_field :username, autocomplete: "username", class: "form-input" %>
    </div>
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
    </div>
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-input" %>
    </div>
    <div class="actions">
      <%= button_tag "Reset Form", type: :reset, class: "btn-link mb-12" %>
      <%= f.submit "Update", class: "btn" %>
    </div>
  <% end %>
  <div class="cancel-container">
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you absolutely sure? Cancelling your account will delete all posts." }, method: :delete, class: "btn-link" %></p>
  </div>
</div>
