<%= render "shared/header" %>
<section class="page-container">
  <h1 class="articles-title"><%= t('blog_title') %></h1>
  <ul class="article">
    <% @articles.each do | article | %>
      <li class="article-title"><%= link_to article.title, article %></li>
      <li class="article-subtitle">
        By <%= article.user.username %> - <%= article.created_at.strftime("%d %b. %Y") %>
      </li>
      <li>
        <div class="article-image">
          <%= image_tag(article.image, class: "image") %>
        </div>
      </li>
      <li class="article-body">
        <%= truncate(article.body, length: 300) {link_to "...Read More", article}
      %>
      </li>
    <% end %>
  </ul>
  <div class="mt-36">
    <% if user_signed_in? %>
      <%= link_to "New Article", new_article_path %>
    <% end %>
  </div>
</section>
<%= render "shared/footer_with_wrapper" %>
