<%= render "shared/mobile_menu" %>
<header class="banner">
  <%= image_tag "cover-img-1200.jpg", :class => "front-page-img"%>
  <%= render "shared/logout_links" %>
  <nav class="banner-nav-wrapper">
    <div class="site-name"><%= link_to "le gardin du josh", root_path %></div>
    <ul class="menu">
      <%= render "shared/nav_menu" %>
    </ul>
  </nav>
</header>
