<li class="menu-item"><%= link_to t('menu_food'), menu_page_path %></li>
<li class="menu-item"><%= link_to t('menu_reservations'), contact_page_path %></li>
<li class="menu-item"><%= link_to t('menu_blog'), articles_path %></li>
<li class="menu-item"><%= link_to t('menu_about'), about_page_path %></li>
<li class="menu-item"><%= link_to("english", url_for(lang: :en)) %><span>&nbsp;/&nbsp;</span><%= link_to("francais", url_for(lang: :fr)) %></li>
