<%= render "shared/header" %>
<section class="page-container">
  <h1 class="page-title mb-36"><%= t('about_title') %></h1>
  <div class="article mb-36">
    <%# <div class="article-title ">
      It all started in a sleepy little town called Portland...</div> %>
    <div class="article-body">
      <p><%= t('about_body_1') %></p>
      <br/>
      <p><%= t('about_body_2') %></p>
      <br/>
      <p><%= t('about_body_3') %></p>
      <br/>
    </div>
  </div>
  <div class="article mb-36">
    <div class="article-title ">
      <%= t('about_con_title') %></div>
    <br/>
    <div class="article-body">
      <p><%= t('about_con_body') %></p>
      <br/>
      <p><%= t('about_add_1') %></p>
      <p><%= t('about_add_2') %></p>
      <p>
        <a
          href="https://goo.gl/maps/qivmSfBRyTC9MbUY8"
          target="_blank"
          rel="noopener noreferrer"
          ><%= t('about_map') %></a
        >
      </p>
    </div>
  </div>
</section>
<%= render "shared/footer_with_wrapper" %>
