<div class="front-page-wrapper">
  <%= render "shared/logout_links" %>
  <%= render "shared/mobile_menu" %>
  <section class="front-page">
    <aside class="container-aside">
      <header>
        <div class="site-name">Aster</div>
        <nav>
          <ul class="menu">
            <%= render "shared/nav_menu" %>
          </ul>
        </nav>
      </header>
      <footer class="footer-aside">
        <ul>
          <li class="mb-12">
            <div>Refshalevej 96</div>
            <div>1432 Copenhagen K</div>
            <div>
              <a
                href="https://goo.gl/maps/qivmSfBRyTC9MbUY8"
                target="_blank"
                rel="noopener noreferrer"
                ><%= t('see_map') %></a
              >
            </div>
          </li>
          <li>Phone: xxx-xxx-xxx</li>
          <li>Hours: Monday-Saturday, 17:00-23:00</li>
        </ul>
      </footer>
    </aside>
    <h1 class="mobile-site-name site-name">Aster</h1>
    <div class="front-page-img-wrapper">
      <%= image_tag("cover-img.jpg", :class => "front-page-img") %>
      <div class="socials-wrapper">
        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
          <%= fa_icon 'facebook', :class => 'social' %>
        </a>
        <%= fa_icon 'instagram', :class => 'social' %>
        <%= fa_icon 'twitter', :class => 'social' %>
      </div>
    </div>
  </section>
  <%= render "shared/footer" %>
</div>
