<%= render "shared/header" %>
<section class="page-container">
  <h1 class="page-title mb-36"><%= t('menu_pg_title') %></h1>
  <div class="article mb-36">
    <div class="article-title ">
      <%= t('menu_pg_season') %>
    </div>
    <div class="article-subtitle"><em><%= t('menu_pg_period') %></em></div>
    <div class="article-body">
      <p><%= t('menu_pg_desc') %></p>
    </div>
    <div class="article-body">
      <p><%= t('menu_pg_menu') %></p>
      <p><%= t('menu_pg_wine') %></p>
      <p><%= t('menu_pg_juice') %></p>
    </div>
    <div class="gallery-con">
      <%= image_tag("food-1.jpg", :class => "image-1") %>
      <%= image_tag("food-2.jpg", :class => "image-2") %>
    </div>
    <div class="gallery-con">
      <%= image_tag("food-3.jpg", :class => "image-3") %>
    </div>
  </div>
  <%# Additional spring season %>
  <%# <div class="article mb-36">
    <div class="article-title ">
      SPRING SEASON</div>
    <div class="article-subtitle"><em>March 22nd - June 21st</em></div>
    <div class="article-body">
      <p>This menu will be a celebration of fall abundance and the period of the year when meat will play a starring role at noma. Expect lots of preserved greens and flowers that we have foraged over the summer, together with mushrooms, berries and everything the forest has to offer.</p>
    </div>
    <div class="article-body">
      <p>Menu: DKK 2,800</p>
      <p>Wine Pairing: DKK 1,800</p>
      <p>Juice Pairing: DKK 1,000</p>
    </div>
  </div> %>
  <div class="article">
    <div class="article-title "><%= t('menu_pg_wines') %></div>
    <div class="article-body">
      <p><%= t('menu_pg_wine_desc') %></p>
    </div>
    <div class="gallery-con">
      <%= image_tag("wine-1.jpg", :class => "image-4") %>
      <%= image_tag("wine-2.jpg", :class => "image-5") %>
    </div>
    <div class="gallery-con">
      <%= image_tag("wine-3.jpg", :class => "image-6") %>
    </div>
  </div>
</div>
</section>
<%= render "shared/footer_with_wrapper" %>
