<!DOCTYPE html>
<html>
  <head>
    <title>Aster Reste</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <!--  -->
    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <!--  -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <%= stylesheet_link_tag 'application',
    'https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;500;700&display=swap'
    %>
    <%= favicon_link_tag asset_path('magnolia.ico') %>
  </head>
  <body>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %> <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%# Flash notice for contact form %>
    <% if flash[:alert] %>
      <div class="container">
        <br>
        <% flash.each do |key, message| %>
          <p class="alert alert-<%= key %>"><%= message %></p>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
    <%= javascript_pack_tag 'hamburger' %>
    <%# Change mobile menu height based on whether user is signed in or not %>
    <% if user_signed_in? %>
      <script type="text/javascript" charset="utf-8">
        const mobile = document.querySelector('.mobile-menu');
        mobile.classList.add('long');
          if (mobile.classList.contains('short')) {
        mobile.classList.remove('short');
          }
      </script>
    <% else %>
      <script type="text/javascript" charset="utf-8">
        const mobile = document.querySelector('.mobile-menu');
        mobile.classList.add('short');
          if (mobile.classList.contains('long')) {
        mobile.classList.remove('long');
          }
      </script>
    <% end %>
  </body>
</html>
